
.scrollUp {
	width: 50px;
	position: fixed;
	right: 40px;
	bottom: 25px;
	display: none;
	cursor: pointer;
}

.scrollUp > img {
	width: 80%;
}

@media (max-width: 320px) {
	.scrollUp {
		right: 12px;
		bottom: 11px;
	}
}